*[hidden] {
  display: none !important;
}

.grayscale {
  filter: grayscale(100%);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.label {
  color: #c3c3c3;
  display: inline-block;
  max-width: 75px;
  min-width: 75px;
  width: 75px;
  overflow: hidden;
  vertical-align: middle;
}

.group {
  display: flex;
  margin: 25px;
}
.group .content {
  float: left;
  width: 100%;
  margin-left: 32px;
}

div.title {
  min-width: 90px;
}

.title {
  float: left;
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
}
.title span {
  display: block;
  max-width: 100px;
}

.icon-css {
  position: relative;
  display: inline-block;
  transform: scale(0.5);
}

.icon-css:before,
.icon-css:after {
  content: "";
  position: absolute;
}

.icon-mail {
  border-top: 1.063em solid transparent;
  border-right: 1.25em solid black;
  border-bottom: 0.5em solid black;
  border-left: 1.25em solid black;
}

.icon-mail:before {
  top: -1.25em;
  left: -1.25em;
  border-top: 1.063em solid black;
  border-right: 1.25em solid transparent;
  border-left: 1.25em solid transparent;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: Georgia;
  color: #444;
}

a {
  color: #990003;
}

body {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

ul {
  padding: 0;
}

*[data-durian] img {
  width: 42px;
}

.body {
  margin: 2em;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header .icon {
  margin: 10px 0;
}
.header .name {
  font-family: "Nixie One", cursive;
  font-size: 64px;
  line-height: 0.8;
  margin: auto;
}
.header .summary {
  font-size: 110%;
  line-height: 20px;
  border-top: 1px solid #6666;
  border-bottom: 1px solid #6666;
  max-width: 300px;
  padding: 5px;
  position: relative;
  text-align: justify;
}
.header .summary:after {
  display: none;
  left: -45px;
  top: 35px;
  background-color: #fff;
  border: 20px solid;
  border-color: rgba(0, 0, 0, 0) #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
.header .info {
  max-width: 300px;
  overflow: auto;
}
.header .info a:first-child {
  margin-top: 0;
}
.header .info a.link {
  margin: 10px 0;
  text-decoration: none;
}
.header .info .title {
  font-size: 15px;
  font-weight: 300;
  margin: 5px;
  clear: both;
}
.header .info .icon-container {
  margin: 0;
  margin-left: -10px;
  width: 50px;
}
.header .info .icon {
  width: 50px;
}

.main {
  margin: 0px auto;
  margin-top: 5px;
  display: block;
}

.projects {
  margin-top: 0;
}

.project {
  list-style: none;
  margin: 10px 0;
}
.project:first-child {
  margin-top: 0;
}
.project .project-description {
  list-style: none;
}

.description {
  list-style: none;
}

.project-icon {
  background-clip: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px;
  display: inline-block;
  float: left;
  height: 32px;
  width: 42px;
  margin-right: 20px;
}

.school-logo img {
  line-height: 32px;
  vertical-align: middle;
}

.school .degree {
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
}

.school .class {
  float: right;
}

.job {
  margin-left: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
}
.job .period {
  font-weight: 300;
  margin-top: 5px;
  position: absolute;
  right: 0;
}
.job .detail {
  clear: both;
  padding-left: 15px;
  list-style: circle;
}
.job .detail li {
  margin: 5px 0;
}
.job .title {
  font-size: 24px;
  font-style: normal;
  margin: 0 10px 5px 0;
  /*&:after {
    content: " @ ";
  }*/
}

.talent {
  list-style: none;
  padding-left: 0;
  overflow: auto;
}
.talent:first-child {
  margin-top: 0;
}
.talent:last-child {
  margin-bottom: 0;
}
.talent li.label {
  margin: 0;
}
.talent li {
  float: left;
  margin: 0 5px;
}
.talent .skill {
  line-height: 30px;
}

.sections {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.nav {
  margin-top: 20px;
}

.nav li {
  margin: 10px;
}

.nav li a {
  text-decoration: none;
  color: gray;
}

.nav li.highlight a {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}

.print-only {
  display: none;
}

.version {
  color: #fcfcfc;
  font-size: 0.8em;
}

@media print {
  .print-only {
    display: auto !important;
  }

  .screen-only,
#detailBtn {
    display: none !important;
  }

  .header .name {
    font-size: 52px;
  }
  .header .summary {
    text-align: justify;
    font-size: 15px;
    margin-top: -5px;
  }
  .header .info {
    image-rendering: crisp-edges;
  }
  .header .info .title {
    margin: 0;
    font-size: 12px;
  }

  .job ul {
    display: block;
    margin-top: 10px;
  }

  .job .title {
    font-size: 17px;
  }

  .talent {
    margin: 2px 0;
  }

  .talent li {
    padding: 0px;
  }

  .class {
    float: left;
  }

  .job {
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 992px) and (min-width: 320px) {
  .job {
    margin-bottom: 25px;
  }
  .job h4 {
    position: static;
    font-size: 14px;
    clear: both;
    margin: 0;
  }
  .job .title {
    font-size: 17px;
  }
}
@media screen and (max-width: 720px) and (min-width: 320px) {
  .main {
    width: 85vw;
  }

  *[data-maingo] img {
    width: 32px;
  }

  .flex-container {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header .logo {
    width: initial;
  }
  .header .info {
    width: initial;
  }
  .header .summary {
    display: none;
  }

  .talent li.label {
    margin: 10px 0;
    padding-right: 100%;
  }

  .group .content {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .title {
    margin-bottom: 10px;
  }

  .group > .title {
    float: none;
    text-decoration: underline;
  }
  .group > .title span {
    max-width: 100%;
  }

  .school {
    margin: 10px;
  }
  .school .degree {
    font-size: 17px;
  }
  .school .class {
    margin-top: 12px;
    display: block;
    float: none;
  }
}
.print-only {
  display: none;
}

@media print {
  body {
    padding: 2px !important;
    margin: 0;
    height: 100vh !important;
  }

  .print-only {
    display: block;
  }

  .screen-only,
.skill img {
    display: none !important;
  }

  .school .degree {
    padding-left: 0 !important;
  }

  .job .title:after,
.skill:before,
.school:before,
.skill:before {
    content: attr(data-print);
  }

  .main {
    width: auto !important;
  }

  .job {
    overflow: auto !important;
  }
  .job .title {
    font-size: 17px;
    margin-bottom: 8px;
  }
  .job .title:after {
    content: attr(data-print);
  }
  .job .period {
    top: -5px;
  }
  .job .detail {
    border-right: 2px solid #c3c3c3;
    display: block;
    padding-left: 1.4em;
    padding-right: 25px;
    width: 90%;
    min-height: 12px;
  }

  .group {
    margin: 15px;
  }

  .skill {
    line-height: normal !important;
  }

  .project {
    margin-bottom: 0;
  }

  .project-icon {
    -webkit-print-color-adjust: exact;
  }

  .school .class {
    float: left !important;
  }

  .summary p {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

/*# sourceMappingURL=custom_main.css.map */
