@import "./common";

* {
  -webkit-font-smoothing: antialiased;
  font-family: Georgia;
  color: #444;
}

a {
  color: #990003;
}

body {
  padding: 25px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  padding: 0;
}

*[data-maingo] {
  img {
    width: 42px;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;

  div {
    margin: 5px 25px;
  }

  .logo {
    width: 420px;
  }

  .icon {
    margin: 10px 0;
  }

  .name {
    font-family: 'Nixie One', cursive;
    font-size: 72px;
    line-height: 0.8;
    margin: auto;
  }

  .summary {
    border-radius: 25px;
    border: 2px solid #666;
    max-width: 500px;
    padding: 15px 20px;
    position: relative;
    text-align: justify;

    &:after {
      left: -45px;
      top: 25px;
      background-color: #FFF;
      border: 20px solid;
      border-color: rgba(0, 0, 0, 0) #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  .info {
    a:first-child {
      margin-top: 0;
    }

    a.link {
      margin: 10px 0;
      text-decoration: none;
    }

    .title {
      font-size: 17px;
      font-weight: 300;
      margin: 5px;
      width: 120%;
    }

    .icon-container {
      margin: 0;
      margin-left: -10px;
      width: 50px;
    }

    .icon {
      width: 50px;
    }
  }
}

.main {
  margin: 0 auto;
  display: block;
  width: 70vw;
}

.projects {
  margin-top: 0;
}

.project {
  list-style: none;
  margin: 10px 5px;

  &:first-child {
    margin-top: 0;
  }
}

.description {
  list-style: none;
}

.project-icon {
  background-clip: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px;
  display: inline-block;
  float: left;
  height: 32px;
  width: 42px;
  margin-right: 20px;
}

.school-logo img {
  line-height: 32px;
  vertical-align: middle;
}

.school .degree {
  font-size: 20px;
  padding-left: 10px;
  line-height: 32px;
  vertical-align: middle;
}

.school .class {
  float: right;
}

.job {
  margin-left: 10px;
  min-height: 58px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;

  h4 {
    font-weight: 300;
    margin-top: 5px;
    position: absolute;
    right: 0;
    top: -8px;
  }

  .detail {
    clear: both;
    padding-left: 20px;
    list-style: circle;

    li {
      margin: 10px 0;
    }
  }

  .title {
    font-size: 24px;
    font-style: normal;
    margin: 0 10px 5px 0;

    &:after {
      content: " @ ";
    }
  }
}

.talent {
  list-style: none;
  padding-left: 0;
  overflow: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li.label {
    margin: 0;
  }

  li {
    float: left;
    margin: 0 8px;
  }

  .skill {
    line-height: 32px;
  }
}

.sections {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.nav {
  margin-top: 20px;
}

.nav li {
  margin: 10px;
}

.nav li a {
  text-decoration: none;
  color: gray;
}

.nav li.highlight a {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}

@import "./responsive";
@import "./print";
