
ul {
  list-style: none; }

body {
  padding: 100px; }

#canvas {
  margin: 0 auto;
  width: 600px;
  display: block;
  border: 1px solid black;
  overflow: auto; }

#profile {
  text-align: center; }
  #profile .name {
    clear: both;
    display: block;
    text-transform: uppercase;
    font-size: 36px; }

#playground .title {
  display: block;
  text-align: center;
  clear: both; }

.projects {
  overflow: auto;
  text-align: center;
  display: block;
  margin-left: 10%; }
  .projects li {
    float: left;
    margin: 15px; }

.circle-img {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background-clip: padding-box;
  width: 75px;
  height: 75px; }
