<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/dist/main.css"/>
    <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'/>
    {% block heade_extra %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <header class="header">
      <div class="logo" style="text-align: center;">
        <span class="name">MOU</span>
      </div>
      <hr>
    </header>

    <hr>
    {% endblock %}

    {% block nav %}
    <ul class="flex-center nav">
      {% for nav in navs %}
        {% if filename == nav.filename %}
        <li class="highlight">
        {% else %}
        <li>
        {% endif %}
          <a href="{{nav.url}}">{{ nav.name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="flex-center text-center">
      © {{year}} MooMou
    </footer>
    <div class="flex-center" style="font-size: 12px">
      {% block extraFooter %}{% endblock %}
    </div>

    {% endblock %}
  </body>
</html>
